<!DOCTYPE html>
<html>
  <head>
    <title>DailyProphet</title>
    <meta property="og:title" content="Daily Prophet" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dailyprophet.onrender.com/" />
    <meta property="og:image" content="https://www.kadeemjackson.dev/assets/img/portfolio/fullsize/DP.png" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6bd696cce4.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
      // window.ModalLogLeft = "<%= image_url('modal-left-img.png') %>";
      window.UserIcon = "<%= image_url('user-icon.png') %>";
    </script>
    

    <% if logged_in? %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "name": "<%= current_user.name %>",
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%# <% if logged_in? %>
      <%# <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <%# </script> %>
    <%# <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
